extends layout

block vars
	title = 'grid' 
	desc = 'example of grid'

block stylesheets
	link(rel="stylesheet", href="grid.css")

block main-wrapper
	header.main-header
		| header
	.container
		section.main-section
			|section
			.container
				span.one 1
				span.one 1
				span.one 1
				span.one 1
				span.one 1
				span.one 1
				span.one 1
				span.one 1
				span.one 1
				span.one 1
				span.one 1
				span.one 1
			.container
				span.two 2
				span.two 2
				span.two 2
				span.two 2
				span.two 2
				span.two 2
				span.two 2
				span.two 2
				span.two 2
				span.two 2
				span.two 2
				span.two 2
		aside.main-aside
			| aside
	footer.main-footer
		| footer